
/* all apdding */
.pad0px{padding:0px;}
.pad3px{padding:3px;}
.pad10px{padding:10px;}
.pad13px{padding:13px;}

/*padding top*/
.padtop0px{padding-top:0px;}
.padtop5px{padding-top:5px;}
.padtop10px{padding-top:10px;}

/*padding bottom*/
.padbtm0px{padding-bottom:0px;}
.padbtm5px{padding-bottom:5px;}

/*padding right*/
.padright5px{padding-right:px;}
/*all margin*/

/*margin top*/
.mgtop0px{margin-top:0px;}
.mgtop3px{margin-top:3px;}
.mgtop5px{margin-top:5px;}
.mgtop10px{margin-top:10px;}
.mgtop15px{margin-top:15px;}
.mgtop20px{margin-top:20px;}
.mgtop25px{margin-top:25px;}
.mgtop30px{margin-top:30px;}
.mgtop40px{margin-top:40px;}

/*margin-bottom*/
.mgbtm0px{margin-bottom:0px;}
.mgbtm10px{margin-bottom:10px;}
.mgbtm15px{margin-bottom:15px;}

